Service References/FCMessages/Service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QESE.QFV.Classes.RoutePlanning" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QESE.QFV.Classes.RoutePlanning" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/wsFCMessages/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QESE.QFV.Classes.Maps" />
  <xs:complexType name="Routes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Route" nillable="true" type="tns:Route" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Routes" nillable="true" type="tns:Routes" />
  <xs:complexType name="Route">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RouteBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:long">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QESE.QFV.Classes.Maps" minOccurs="0" name="Finish" nillable="true" type="q1:Address">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IsAutoCreated" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RouteDetails" nillable="true" type="tns:ArrayOfRouteDetail">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RouteFolderId" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QESE.QFV.Classes.Maps" minOccurs="0" name="Start" nillable="true" type="q2:Address">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Strictness" type="tns:RouteStrictness">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
  <xs:complexType name="RouteBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteBase" nillable="true" type="tns:RouteBase" />
  <xs:complexType name="RouteDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RouteBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QESE.QFV.Classes.Maps" minOccurs="0" name="Address" nillable="true" type="q3:Address">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QESE.QFV.Classes.Maps" minOccurs="0" name="GeoPoint" type="q4:GeoPoint">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RouteDetailType" type="tns:RouteDetailType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Segment" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Sort" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RouteDetail" nillable="true" type="tns:RouteDetail" />
  <xs:simpleType name="RouteDetailType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Point" />
      <xs:enumeration value="Start" />
      <xs:enumeration value="Waypoint" />
      <xs:enumeration value="Finish" />
      <xs:enumeration value="Segment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RouteDetailType" nillable="true" type="tns:RouteDetailType" />
  <xs:complexType name="RouteFolder">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RouteBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CID" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ParentFolderId" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Routes" nillable="true" type="tns:Routes">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RouteFolder" nillable="true" type="tns:RouteFolder" />
  <xs:simpleType name="RouteStrictness">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Strict" />
      <xs:enumeration value="Moderate" />
      <xs:enumeration value="Minimal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RouteStrictness" nillable="true" type="tns:RouteStrictness" />
  <xs:complexType name="ArrayOfRouteDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteDetail" nillable="true" type="tns:RouteDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteDetail" nillable="true" type="tns:ArrayOfRouteDetail" />
</xs:schema>